<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.5.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="SignalR" version="0.5.3" targetFramework="net45" />
  <package id="SignalR.JS" version="0.5.3" targetFramework="net45" />
  <package id="SignalR.Hosting.AspNet" version="0.5.3" targetFramework="net45" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net45" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WebGrease" version="1.1.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.0.3.0" targetFramework="net45" />
</packages>